<div class="row">
  <div class="col-sm-12 col-md-6">
	  <div class="panel panel-default">
	    <div class="panel-heading" translate>ACTIVE_ACCOUNTS</div>
	    <div class="panel-body">
	      <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
          </tr>
          <tr ng-repeat="account in accounts">
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td><button type="button" class="btn btn-default" ng-click="syncRepos(account.id)">Sync repos</button></td>
          </tr>
	    </div>
	  </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" translate>EDIT_ACCOUNT</div>
      <div class="panel-body" ng-include src="'account-edit.html'">
      </div>
    </div>
  </div>
</div>