<div class="row">
  <div class="col-sm-12 col-md-4">
    
    <div class="panel panel-default">
      <div class="panel-heading">Timer</div>
      <div class="panel-body">
        <timer-setup project-options="projectOptions" on-project-selected="syncProjectIssues(project)"></timer-setup>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    
    <div class="panel panel-default">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body" ng-bind-html="dailyPost.markdown | markdown">
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    
    <div class="panel panel-default">
      <div class="panel-heading">{{ 'ACTIVE_PROJECTS' | translate}} ({{ 'LAST_7_DAYS' | translate }})</div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="p in activeProjects">{{ p.name }}</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" translate>LATEST_TIMERS</div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="t in latestTimers">{{ t.summary }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>