<div ng-app="">
  <div class="row">
    <div class="col s6">
      <h3>Projects list</h3>
      <ul>
        <li ng-repeat="x in projects">
          <strong>{{ x.name }}</strong> {{ x.description }}
        </li>
      </ul>
    </div>
    <div class="col s6">
      <h3>Create project</h3>
      Project Name: <input type="text" ng-model="name"><br>
      Project Description: <textarea ng-model="description">{{ description }}</textarea><br>
      Color (colors by <a href="https://flatuicolors.com/" target="_blank">https://flatuicolors.com/</a>): <input style="background-color: {{ color }}" ng-model="color"><br>
      <div class="row">
        <span ng-click="pickColor($event)" data-color="{{ c.color }}" class="col s6" ng-repeat="c in colors" style="background-color: {{ c.color }}">{{ c.name }}</span>
      </div>

      <button class="btn" ng-click="createProject()">Submit</button>
      <br>

      <span style="background-color: {{ color }}">Project: {{ name + " (" + description + ")" }}</span>

    </div>
  </div>
  {{ content }} {{ statuscode }} {{ statustext }}
</div>