<div ng-app="">
  <div class="row">
    <div class="col s7">
      <div class="row">
        <div class="col s6">
          <h3>Start timer</h3>
          <div><button class="btn" ng-click="createPomodoro()">Start</button></div>
        </div>
        <div class="col s6">
          <h1>{{ timeRemaining | formatTimer }}</h1>
        </div>
      </div>

      <template-comment><h3>Projects list</h3>
      <ul>
        <li ng-repeat="x in projects">
          <strong>{{ x.name }}</strong> {{ x.description }}
        </li>
      </ul></template-comment>
      <h3>Timeline</h3>
      <div class="input-field">
        <select class="browser-default" ng-model="filters.project" ng-options="p.id as p.name for p in projectOptions"></select>
        <!-- <select class="browser-default" ng-model="filters.timeslice" ng-options="t in timesliceOptions"></select> -->
      </div>
      <ul>
        <li data-id="{{ timer.id }}" ng-repeat="timer in timers" ng-click="select($event)">
          {{ timer.createdAt.substr(0, 16).replace('T', ' ') }}
          <span style="background-color:{{ timer.project ? timer.project.color : '#fff' }}">{{ timer.project ? timer.project.id : 'N/D' }}</span>
          <span class="{{ timer.type }}{{ timer.status === 'new' ? ' red-text' : '' }}">{{ timer.summary }}</span>
        </li>
      </ul>
    </div>
    <div class="col s5">
      <h4>Selected timer</h4>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="What are you working on?" type="text" ng-model="currentTimer.summary">
        </div>
        <div class="col s12">
        Started at: {{ currentTimer.createdAt.substr(11, 5) }}
        </div>
        <div class="input-field col s12">
          <textarea ng-model="currentTimer.markdown">{{ currentTimer.markdown }}</textarea>
        </div>
        <div class="browser-default col s12" ng-bind-html="currentTimer.markdown | markdown"></div>
        <div class="input-field col s5">
          <select class="browser-default" ng-model="currentTimer.status">
            <option ng-repeat="x in statuses">{{x}}</option>
          </select>
        </div>
        <div class="input-field col s5">
          <select class="browser-default" ng-model="currentTimer.projectId">
            <option ng-repeat="x in projects" value="{{ x.id }}" selected="{{ x.id === currentTimer.projectId ? 'selected': '' }}">{{x.name}}</option>
          </select>
        </div>
        <div class="input-field col s2"><button class="btn" ng-click="updatePomodoro()">Update</button></div>
      </div>
      <template-comment>
        <div>
          <div>Timer #{{ currentTimer.id }} (status: {{ currentTimer.status }}, proj. id: {{ currentTimer.projectId }})</div>
          <div style="background-color:{{ currentTimer.project ? currentTimer.project.color : '#fff' }}">{{ currentTimer.project ? currentTimer.project.name : 'N/D' }}</div>
          <h5>{{ currentTimer.summary }}</h5>
          <div>{{ currentTimer.markdown }}</div>
        </div>
      </template-comment>
    </div>
  </div>
  {{ content }} {{ statuscode }} {{ statustext }}
</div>